{% extends 'base.html.twig' %}

{% block title %}Vidéo{% endblock %}

{% block body %}

<div class="max-w-7xl mx-auto flex flex-col gap-5 my-8">
    <div class="max-w-7xl mx-auto w-full bg-white h-96"></div>

    <h1 class="text-white font-bold text-3xl">Titre de la vidéo</h1>

    <p class="text-white">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
    </p>

    <div class="flex flex-col gap-5">
        <span class="text-white font-bold">Dans cette vidéo :</span>
        <div class="grid grid-cols-4 gap-10">
            <div class="bg-white rounded-md p-5 relative flex flex-col gap-5">
                <span class="bg-primary rounded-md p-1 text-xs text-white absolute right-2 top-2">Adopté</span>
                <h2 class="font-bold text-xl">Nom animal</h2>
                <ul>
                    <li>Cheval</li>
                    <li>4 ans</li>
                    <li>Arrivé(e) le : 28/03/2024</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="flex flex-col gap-5">
        <span class="text-white font-bold">Pour adopter, contactez :</span>
    </div>
    
</div>

{% endblock %}