<nav class="py-5 border-b-2 border-b-white/20">
    <div class="max-w-7xl mx-auto flex items-center gap-20">
        <a href="/">
            <img src="{{ asset('images/logo.png') }}" alt="logo" class="w-36 h-auto" />
        </a>
        <ul class="flex items-center gap-14 text-white">
            <li class="hover:underline hover:decoration-primary hover:underline-offset-4">
                <a href="/">Accueil</a>
            </li>
            <li class="hover:underline hover:decoration-primary hover:underline-offset-4">
                <a href="/next-checks">Prochains contrôles</a>
            </li>
            <li class="hover:underline hover:decoration-primary hover:underline-offset-4">
                <a href="/create/video">Ajouter une vidéo</a>
            </li>
            <li class="hover:underline hover:decoration-primary hover:underline-offset-4">
                <a href="/create/adoption">Créer une adoption</a>
            </li>
        </ul>
    </div>
</nav>